%%-*- mode: erlang -*-

{sub_dirs, ["rel"]}.
{erl_opts, [fail_on_warning, debug_info]}.
{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.

{lib_dirs, ["deps"]}.
{deps, [{lager, "1.2.0",
         {git, "git://github.com/basho/lager.git", "1.2.0"}},
        {zeta, "0.0.3",
         {git, "git://github.com/reifyhealth/zeta.git", "0.0.3"}},
        {meck, "0.7.2",
         {git, "git://github.com/eproxus/meck.git", "0.7.2"}}]}.
